{% ckan_extends %}

{% block footer_links %}
  <li><a href="https://twitter.com/datakkdk" target="_blank"><img src="/twitter.png" />@datakkdk</a></li>
  <li><a href="http://cphsolutionslab.dk" target="_blank">Copenhagen Solutions Lab</a></li>
  <li><a href="http://kbhkort.kk.dk" target="_blank">Copenhagen Map</a></li>
  <li><a href="http://opendata.dk" target="_blank">Open Data DK</a></li>
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}

{% block footer_attribution %}
{% endblock %}
{% block footer_lang %}
{% endblock %}
