body {
        background-image: none !important;
}

.account-masthead {
        background: none !important;
        background-color: #171514 !important;
}

.account-masthead .account ul li {
        border: none !important;
}

.masthead {
        background: none !important;
        background-color: #008EC0 !important;
        padding: 5px 0px !important;
}

.masthead .nav a {
        color: #ffffff !important;
}

.masthead .nav a:hover, .masthead .nav li.active a {
        color: #ffffff !important;
}

.gravatar {
        display: none !important;
}

.box, .wrapper {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
}

[role=main], .main {
        background-color: #ffffff !important;
        background-image: none !important;
        min-height: 150px !important;
}

.hero {
        background: url(/copenhagenconnecting.jpg) no-repeat center top !important;
        background-size: cover !important;
}

.homepage .module-search .module-content, .homepage .module-search .tags {
        border-radius: 0px !important;
}

.site-footer {
        background: none !important;
        color: #ffffff !important;
}

.site-footer .container {
        background: url(/cph-logo.png) no-repeat right top !important;
	min-height: 100px !important;
}

.site-footer a {
        color: #ffffff !important;
}

.site-footer .footer-links {
        width: 940px !important;
}

.site-footer .footer-links ul {
        width: auto !important;
}

.site-footer .footer-links li {
        float: left !important;
        height: 30px !important;
        line-height: 30px !important;
        padding-right: 30px !important;
        width: auto !important;
}

.site-footer .footer-links li a {
        white-space: nowrap !important;
}
